body{
	background-color: Gainsboro !important;
}

h1{
	color: Royalblue;
}

#h12{
	color: Royalblue;
	text-align: center; 
	margin-top: 25px;	
}

#p1{
	background: white;
	 width: 320px;
  height: 50px;
  padding: 10px;
  border: 5px solid gray;
 text-align: center;
 margin: auto;
 margin-top: 50px;
