{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}


{% block content %}
    <!--page content-->
	<br>
<h1> Welcome to the Password Generator!</h1>
<br>
<br> 


<form action="/response">
	<!--<div class="container mt-3">

  <h2> Please choose what type of password you'd like below </h2>
  
   <br>
   <br>
   <div class="mb-3 mt-3">
   <label for="Length">Length:</label>

<div class="mb-3 mt-3">

<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="radio" name="optradio" value="Short"> Short Password (5-12 Characters)
  <label class="form-check-label" for="radio"></label>
</div>
</div>

<br>
<div class="mb-3">

	<div class="form-check form-check-inline">
  <input type="radio" class="form-check-input" id="radio" name="optradio" value="Long">Long Password(12-25 Characters)
  <label class="form-check-label" for="radio"></label>
</div>
</div>
<br>
  -->
   <div class="mb-3 mt-3">
      <label for="Preference">Favorite of two Pets:</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." name="preferences">
	  <datalist id="datalistOptions">
  <option value="Dog">
  <option value="Cat">
</datalist>
    </div>
  
    <div class="mb-3">
      <label for="num">Favorite Number:</label>
      <input type="textarea" class="form-control" id="multNum" placeholder="Enter Favorite Number" name="num">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>

    </form>
{% endblock %}



