{% extends "layout.html" %}

{% set active_page = "home" %}

{% block title %}Home{% endblock %}


{% block content %}
    <!--page content-->
	<br>
<h1> Welcome to the Password Generator!</h1>
<br>
<br> 


<form action="/response">

   <div class="mb-3 mt-3">
      <label for="Preference">Favorite of two Pets:</label>
      <input class="form-control" list="datalistOptions" id="exampleDataList" placeholder="Type to search..." name="preferences" required>
	  <datalist id="datalistOptions">
  <option value="Dog">
  <option value="Cat">
</datalist>
    </div>
  
    <div class="mb-3">
      <label for="num">Favorite Number:</label>
      <input type="textarea" class="form-control" id="multNum" placeholder="Enter Favorite Number" name="num" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</div>
</div>

    </form>
{% endblock %}


